.hideEdit {
  display: none;
}

.showEdit {
  display: block;
}

li {
  font-size: 16px;
  label {
    padding-left: 5px;
    padding-right: 15px;
  }
}

li.completed {
  label {
    text-decoration: line-through;
  }
}

li.active label {
  text-decoration: none;
}