//## Default styles border
$table-border-color:  #000;
$table-head-color:    #d1d1d1;

//## Form fields styles
$input-background-color:  #ededed;

//## Icons
$icon-base-path: '../images/' !default;
$icon-edit:      'edit.png';
$icon-remove:    'delete.png';
$icon-add:       'add.png';

//## Link
$link-color:     #000;